<div class="field">
  <label
    >{{ label }}
    @if(required){
      <span class="text-danger text-bold"> * </span>
    }
    </label>
  <div class="input-control has-icon">
    <input
      type="text"
      class="input"
      name="{{ uniqueId }}"
      bsDatepicker
      placement="top"
      [(ngModel)]="displayDate"
      autocomplete="off"
      [required]="required"
      [bsConfig]="{
        showWeekNumbers: false,
        dateInputFormat: 'DD MMM YYYY',
        isAnimated: true,
        adaptivePosition: true
      }"
      #datepicker="bsDatepicker"
      #date="ngModel"
      (ngModelChange)="valueChange.emit(displayDate)"
    />
    <div
      class="form-icon-right"
      (click)="datepicker.toggle()"
      [attr.aria-expanded]="datepicker.isOpen"
    >
      <i aria-hidden="true" class="mdi mdi-calendar-blank"></i>
    </div>
    @if(date.invalid && (date.dirty || date.touched)){
      <div class="error-msg-text">
        @if(date.hasError('required')){
          <span>This field is required.</span>
        }
      </div>
    }
  </div>
</div>
