<div
  class="modal fade oee_dialog"
  id="change-password-modal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Change Password</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="hideModal()"
        ></button>
      </div>
      <div class="form-layout-input m-0 mw-100">
        <form #changePassForm="ngForm">
            <div class="form-outer border-0">
              <div class="form-fieldset">
                <div class="row">
                  <div class="col-12 col-md-12 col-lg-12 col-sm-12">
                    <app-text
                      [label]="'User Name'"
                      [(value)]="user.UserName"
                      [disabled]="true"
                    ></app-text>
                  </div>
                  <div class="col-12 col-md-12 col-lg-12 col-sm-12">
                    <app-password
                      [label]="'Old Password'"
                      [(value)]="changePassReq.oldPassword"
                      [required]="true"
                    ></app-password>
                  </div>
                  <div class="col-12 col-md-12 col-lg-12 col-sm-12">
                    <app-password
                      [label]="'New Password'"
                      [(value)]="changePassReq.newPassword"
                      [required]="true"
                    ></app-password>
                  </div>
                  <div class="col-12 col-md-12 col-lg-12 col-sm-12">
                    <app-password
                      [label]="'Confirm Password'"
                      [(value)]="changePassReq.confirmPassword"
                      [required]="true"
                    ></app-password>
                  </div>
                </div>
              </div>
            </div>
        </form>
      </div>
      <div class="modal-footer p-2 justify-content-center">
        <div class="form-header-inner">
          <div class="right">
            <div class="two-button">
              <button
                class="btn is-cancel-light is-light"
                (click)="hideModal()"
              >
                Cancel
              </button>
              <button
                class="btn is-primary-btn is-primary"
                (click)="onSubmitClick()"
                [disabled]="changePassForm.invalid"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
