<app-page-header [headerLabel]="'HELP'"></app-page-header>
<div class="row mt-2">
    <div class="col-12 col-md-12 col-lg-12 col-sm-12">
        <div class="form-layout-input">
            <form #backuprestoreForm="ngForm">
                <div class="form-outer">
                    <div class="form-fieldset">
                        
                    
                        <div class="row">

                            <div class="col-12 col-md-6 col-lg-6 col-sm-6">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <div class="mdi mdi-youtube-tv mdi-48px"></div>
                                        <button class="btn is-primary-btn is-primary mt-2">Video Guide</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-6 col-sm-6">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <div class="mdi mdi-file-pdf mdi-48px"></div>
                                        <button class="btn is-primary-btn is-primary mt-2">User Manual</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    

    
</div>


