<app-page-header [headerLabel]="'User Account'" [btnLink]="['add']" [btnLabel]="'Add User'"
  [btnVisible]="true"></app-page-header>

<div class="table-responsive">
  <table class="table oee-custom-table table-responsive text-center">
    <thead>
      <tr>
        <th class="text-center" width="120">User Name</th>
        <th class="text-center" width="180">Full Name</th>
        <th class="text-center" width="120">Access</th>
        <th class="text-center" width="150">Department</th>
        <th class="text-center" width="150">Status</th>
        <th class="text-center" width="120">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (user of userList; track user) {
      <tr>
        <td width="120">{{ user.UserName }}</td>
        <td width="180">{{ user.FullName }}</td>
        <td width="120">{{ user.UserType | userTypeEnum }}</td>
        <td width="150">{{ user.Department }}</td>
        <td width="150"><span [innerHTML]="user.UserStatus | statusEnumHtml"></span></td>
        <td width="120">
          <a href="javascript:;" class="me-2" tooltip="Edit User" placement="top"
            [routerLink]="['edit',user.UserName]">
            <i class="lni lni-pencil text-primary"></i>
          </a>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>