<app-page-header [headerLabel]="headerLable"></app-page-header>

<div class="px-2">
    <form #userRightsForm="ngForm">
        <div class="form-fieldset">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4 col-sm-4">
                    <div class="field">
                        <label style="font-weight: 600;">
                            User
                            <span class="text-danger text-bold"> * </span>
                        </label>
                        <app-ng-select class="col-12" [items]="userList" [bindLabel]="'UserName'" [bindValue]="'UserName'"
                            [required]="true" [(value)]="selectedUserName" (valueChange)="selectedUserNameChange.emit(selectedUserName)" [clearable]="false"
                            [placeholder]="'Please Select User'">
                        </app-ng-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 permission-mover-container">
                    <div class="permission-container">
                        <div class="header bg-primary">Available Rights</div>
                        <div class="ls-item-container">
                            @for (
                            permission of availablePermissions;
                            track permission
                            ) {
                            <div class="ls-item">
                                <div class="checker">
                                    <span>
                                        <app-checkbox [label]="transformPermission(permission.permission)"
                                            [(value)]="permission.checked">
                                        </app-checkbox>
                                    </span>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-header pb-0 mt-1 mb-0 border-bottom-0 border-top border-color-gray">
                <div class="form-header-inner" style="justify-content: flex-end">
                    <div class="right">
                        <app-form-btn-pr [btnLabel]="'Save'" (btnClick)="onSaveBtnClick()"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>