<div class="form-layout-input">
    <form #clientForm="ngForm">
        <div class="form-outer">
            <div class="form-fieldset">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6 col-sm-6">
                        <div class="field">
                            <label>
                                Add Client
                            </label>
                            <div>
                                <!-- <app-ng-select
                                    class="col-12"
                                    [required]="true"
                                    [clearable]="true"
                                    (selectonChange)="onChangeClient($event)"
                                >
                                </app-ng-select> -->
                            </div>
                        </div>
                    </div>
                    <app-form-footer
                        [btnLabel]="btnLabel"
                        (btnClick)="onBtnClick()"
                    ></app-form-footer>
                </div>
            </div>
        </div>
    </form>
  </div>
  