<app-page-header [headerLabel]="'Add Product List'"></app-page-header>
<div class="mx-2">
    <form #addProductForm="ngForm">
        <div class="form-fieldset">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4 col-sm-4">
                    <div class="field">
                        <label>
                            Company Prefix
                            <span _ngcontent-ng-c1278601045="" class="text-danger text-bold"> * </span>
                        </label>
                        <app-ng-select class="col-12" [items]="companyPrefixList" (valueBlur)="calculateGtin()"
                            [(value)]="viewAddProductDetail.CompanyPrefix" [required]="true">
                        </app-ng-select>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-sm-4">
                    <div class="field">
                        <label>
                            Batch Type
                            <span _ngcontent-ng-c1278601045="" class="text-danger text-bold"> * </span>
                        </label>
                        <app-ng-select class="col-12" [items]="batchTypeList" [bindLabel]="'label'"
                            [bindValue]="'value'" [(value)]="viewAddProductDetail.BatchType" [required]="true">
                        </app-ng-select>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-sm-4">
                    <div class="field">
                        <label>
                            Third Party Server
                            <span _ngcontent-ng-c1278601045="" class="text-danger text-bold"> * </span>
                        </label>
                        <app-ng-select class="col-12" 
                            [bindLabel]="'label'" [bindValue]="'value'"
                            [items]="thirdPartyServerList" (selectonChange)="onThirdPartyChange($event)" [required]="true">
                        </app-ng-select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4 col-lg-4 col-sm-4">
                    <app-text [label]="'Product Name'" [(value)]="viewAddProductDetail.ProductName" [required]="true">
                    </app-text>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-sm-4">
                    <div class="field">
                        <label>
                            Account Name
                            <span _ngcontent-ng-c1278601045="" class="text-danger text-bold"> * </span>
                        </label>
                        <app-ng-select class="col-12" [items]="accountNameList" [required]="true"
                            [(value)]="viewAddProductDetail.AccountName" (valueChange)="onAccountNameChange($event)">
                        </app-ng-select>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-sm-4">
                    <app-text [label]="'Customer Product Code'" [(value)]="viewAddProductDetail.CustomerProductCode">
                    </app-text>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4 col-sm-4">
                    <app-text [label]="'MAH GLN Number'" [(value)]="viewAddProductDetail.MAHGLNNumber"
                        [disabled]="true">
                    </app-text>
                </div>
                <div class="col-12 col-md-8 col-lg-8 col-sm-8">
                    <div class="d-flex flex-column justify-content-center" style="height: 100%;">
                        <div class="d-flex justify-content-end">
                            <div class="btn-group">
                                <a class="btn is-primary-btn is-primary border-right-bottom ng-star-inserted"
                                    (click)="addNewStation()">
                                    <i class="mdi mdi-plus-thick"></i>
                                </a>
                                <a class="btn is-primary-btn is-primary border-right-bottom ng-star-inserted"
                                    (click)="removeStation()">
                                    <i class="mdi mdi-minus-thick"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <tabset #stationTabs>
                        @for (station of viewAddProductDetail.StationDetails; track station; let index = $index) {
                        <tab id="{{index}}" heading="Station {{index+2}}">
                            <div class="form-fieldset mt-4">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-6 col-sm-6">
                                        <app-station-detail-form [stationDetail]="station"
                                            [(itemCode)]="viewAddProductDetail.ItemCode"
                                            (calculateGtin)="calculateGtin()" [ssccPrefixList]="companyPrefixList"
                                            [showProductHeight]="index + 1 == viewAddProductDetail.StationDetails.length"></app-station-detail-form>
                                        <div class="row mt-3">
                                            <div class="col-12 col-md-12 col-lg-12 col-sm-12">
                                                <div class="field">
                                                    <app-text [label]="'GTIN'" [(value)]="station.GTIN"
                                                        [disabled]="true">
                                                    </app-text>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 col-sm-6">
                                        <app-hrf-detail-form [hrfDetail]="station.hrfDetails"></app-hrf-detail-form>
                                    </div>
                                </div>
                            </div>

                        </tab>
                        }
                    </tabset>
                </div>
            </div>
            <div class="d-flex justify-content-end mt-2">
                <div>
                    <app-form-btn-pr [btnLabel]="'Add'" (btnClick)="onAddBtnClick()"></app-form-btn-pr>
                </div>
            </div>
        </div>
    </form>
</div>