<app-page-header
  [headerLabel]="'Registration Details'"
  [btnLink]="['add']"
  [btnLabel]="'Add Client'"
  [btnVisible]="true"
></app-page-header>

<div class="table-responsive">
    <table class="table oee-custom-table table-responsive text-center">
      <thead>
        <tr>
          <th class="text-center" width="120">IP Address</th>
          <th class="text-center" width="180">Mac Address</th>
          <th class="text-center" width="150">Line Number</th>
          <th class="text-center" width="150">Plant Name</th>
          <th class="text-center" width="150">Location</th>
          <th class="text-center" width="150">Status</th>
        <th class="text-center" width="120">Action</th>
        </tr>
      </thead>
      <tbody>
        @for (detail of registraionDetails; track detail._id) {
          <tr>
            <td width="120">{{ detail.ipAddress }}</td>
            <td width="180">{{ detail.macAddress }}</td>
            <td width="150">{{ detail.lineNumber }}</td>
            <td width="150">{{ detail.plantName }}</td>
            <td width="150">{{ detail.location }}</td>
            <td width="150"><span [innerHTML]="detail.status | registrationStatusHtml"></span></td>
            <td width="120">
                <a href="javascript:;" class="p-1" tooltip="Edit Client" placement="top" [routerLink]="['edit', detail._id]">
                    <i class="lni lni-pencil text-primary"></i>
                </a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>