.side-nav a {
  color: #727cf5;
  text-decoration: none !important;
}
.side-nav a.active {
  background-color: $navbar_left_select_bg !important;
  color: $navbar_left_select_text !important;
}
a:hover {
  color: #161e88;
}
img,
svg {
  vertical-align: middle;
}

.fade {
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
@media (prefers-reduced-motion: reduce) {
  .fade {
    -webkit-transition: none;
    transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}
.collapse:not(.show) {
  display: none;
}
.collapsing {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
@media (prefers-reduced-motion: reduce) {
  .collapsing {
    -webkit-transition: none;
    transition: none;
  }
}

.h-100 {
  height: 100% !important;
}
.h-auto {
  height: auto !important;
}
.text-center {
  text-align: center !important;
}
.bg-white {
  background-color: #fff !important;
}
.visible {
  visibility: visible !important;
}
.invisible {
  visibility: hidden !important;
}

.logo {
  display: block;
  line-height: 48px; //willgig logo height change
  width: 215px;
  position: fixed;
  top: 0;
}
.logo span.logo-lg {
  display: block;
}
.logo span.logo-sm {
  display: none;
}
.logo.logo-light {
  display: block;
}
.logo.logo-dark {
  display: none;
}
.wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.content-page {
  margin-left: 215px; //content align in left
  overflow: hidden;
  padding: 45px 0px 0px; //content page set top padding
  min-height: 100vh;
}
// .content-page .content{
//   overflow-y: auto;
//   height: calc(100vh - 70px); // 70px top bar heigh
// }

.leftside-menu {
  width: 216px; //left side menu width
  z-index: 10;
  background: #fff;
  bottom: 0;
  position: fixed;
  top: 0;
  padding-top: 50px; //menu padding in top
  /* -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15); */
}
.side-nav {
  padding-left: 0;
  list-style-type: none;
}
.side-nav ul {
  list-style-type: none;
}
.side-nav .side-nav-link {
  color: #cedce4;
  display: block;
  padding: 10px 15px; //items set padding and set padding in left side
  font-size: 13px;
  position: relative;
  // -webkit-transition: all 0.4s;
  // transition: all 0.4s;
  list-style: none;
}
.side-nav .side-nav-item > a[aria-expanded="true"] {
  color: $navbar_left_text !important;
  font-weight: 600;
}

.side-nav .side-nav-link:active,
.side-nav .side-nav-link:focus,
.side-nav .side-nav-link:hover {
  color: #fff;
  text-decoration: none;
}
.side-nav .side-nav-link span {
  vertical-align: middle;
}
.side-nav .side-nav-link i {
  display: inline-block;
  line-height: 1.0625rem;
  margin: 0 10px 0 0;
  font-size: 24px;
  vertical-align: middle;
}
.side-nav .menu-arrow {
  -webkit-transition: -webkit-transform 0.15s;
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition:
    transform 0.15s,
    -webkit-transform 0.15s;
  position: absolute;
  right: 15px; //items arrow set in left side
  display: inline-block;
  font-family: "Material Design Icons";
  text-rendering: auto;
  line-height: 1.5rem;
  font-size: 1.1rem;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.side-nav .menu-arrow:before {
  content: "\F0142";
}
.side-nav .badge {
  margin-top: 3px;
}
.side-nav .side-nav-item > a[aria-expanded="true"] > span.menu-arrow {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.side-nav .side-nav-item.menuitem-active > a:not(.collapsed) > span.menu-arrow {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.side-nav .side-nav-title {
  padding: 12px 30px;
  letter-spacing: 0.05em;
  pointer-events: none;
  cursor: default;
  font-size: 0.6875rem;
  text-transform: uppercase;
  color: #cedce4;
  font-weight: 700;
}
.side-nav .menuitem-active > a {
  color: #fff !important;
}
[dir="rtl"] .side-nav .menu-arrow:before {
  content: "\F0141";
  display: none;
}
.side-nav-forth-level,
.side-nav-second-level,
.side-nav-third-level {
  padding-left: 0;
}
.side-nav-forth-level li a,
.side-nav-second-level li a,
.side-nav-third-level li a {
  padding: 10px 30px 10px 65px; //set dropdown items padding top and bottom
  color: $navbar_left_text; //side nav list color change
  display: block;
  position: relative;
  // -webkit-transition: all 0.4s;
  // transition: all 0.4s;
  font-size: 13px;
}
.side-nav-forth-level li a:focus,
.side-nav-forth-level li a:hover,
.side-nav-second-level li a:focus,
.side-nav-second-level li a:hover,
.side-nav-third-level li a:focus,
.side-nav-third-level li a:hover {
  color: rgb(0, 0, 0);
  background-color: $navbar_left_item_hover_bg;
  //font-weight: 600;
}
.side-nav-forth-level li a .menu-arrow,
.side-nav-second-level li a .menu-arrow,
.side-nav-third-level li a .menu-arrow {
  line-height: 1.3rem;
}
/* .side-nav-forth-level li.active > a,
.side-nav-second-level li.active > a,
.side-nav-third-level li.active > a {
  color: #fff;
} */
.side-nav-third-level li a {
  padding: 8px 30px 8px 80px;
}
.side-nav-forth-level li a {
  padding: 8px 30px 8px 100px;
}
/* .test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) {
  min-height: 1600px;
} */
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .wrapper .leftside-menu {
  // position: absolute;
  // padding-top: 0;
  width: 70px;
  // z-index: 5;
  // padding-top: 70px;
}
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg)
  .wrapper
  .leftside-menu
  .simplebar-content-wrapper,
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .wrapper .leftside-menu .simplebar-mask {
  overflow: visible !important;
}
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .wrapper .leftside-menu .simplebar-scrollbar {
  display: none !important;
}
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .wrapper .leftside-menu .simplebar-offset {
  bottom: 0 !important;
}
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .wrapper .leftside-menu .logo {
  width: 70px;
  z-index: 1;
  background: #fff;
}
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .wrapper .help-box {
  display: none;
}
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .wrapper .content-page {
  margin-left: 70px;
}
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .wrapper .footer,
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .wrapper .navbar-custom {
  left: 70px;
}
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .side-nav .badge,
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .side-nav .menu-arrow,
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .side-nav .side-nav-title {
  display: none !important;
}
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .side-nav .collapse,
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .side-nav .collapsing {
  display: none;
  height: inherit !important;
  -webkit-transition: none !important;
  transition: none !important;
}
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .side-nav .collapse .side-nav-forth-level,
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .side-nav .collapse .side-nav-second-level,
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .side-nav .collapse .side-nav-third-level,
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .side-nav .collapsing .side-nav-forth-level,
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .side-nav .collapsing .side-nav-second-level,
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .side-nav .collapsing .side-nav-third-level {
  display: none !important;
}
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .side-nav .side-nav-item {
  position: relative;
  white-space: nowrap;
}
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .side-nav .side-nav-item .side-nav-link {
  padding: 10px 20px;
  min-height: 42px; //set side nav icon height and padding top
  -webkit-transition: none;
  transition: none;
}
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg)
  .side-nav
  .side-nav-item
  .side-nav-link:active,
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .side-nav .side-nav-item .side-nav-link:focus,
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg)
  .side-nav
  .side-nav-item
  .side-nav-link:hover {
  color: $navbar_left_text;
}
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .side-nav .side-nav-item .side-nav-link i {
  font-size: 20px;
  margin-right: 20px;
  margin-left: 6px;
}
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .side-nav .side-nav-item .side-nav-link span {
  display: none;
  padding-left: 10px;
}
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg)
  .side-nav
  .side-nav-item:hover
  .side-nav-link {
  position: relative;
  width: 260px;
  color: $navbar_left_text;
  background: $navbar_left_bg; //bg-color change
}
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg)
  .side-nav
  .side-nav-item:hover
  .side-nav-link
  span {
  display: inline;
}
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .side-nav .side-nav-item:hover > ul {
  display: block !important;
  left: 70px;
  position: absolute;
  width: 190px;
  height: auto !important;
  padding: 5px 0;
  z-index: 9999;
  /* background: linear-gradient(135deg, #8f75da 0, #727cf5 60%); */
  -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
}
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .side-nav .side-nav-item:hover > ul a {
  padding: 8px 20px;
  position: relative;
  width: 190px;
}
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .side-nav .side-nav-item:hover > ul a:hover {
  color: #fff;
}
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .side-nav .side-nav-item:hover > .collapse,
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .side-nav .side-nav-item:hover > .collapsing {
  display: block !important;
  -webkit-transition: none !important;
  transition: none !important;
}
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg)
  .side-nav
  .side-nav-item:hover
  > .collapse
  > ul,
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg)
  .side-nav
  .side-nav-item:hover
  > .collapsing
  > ul {
  display: block !important;
  left: 70px;
  position: absolute;
  width: 190px;
  /* background: linear-gradient(135deg, #8f75da 0, #727cf5 60%); */
  /* -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15); */
}
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg)
  .side-nav
  .side-nav-item:hover
  > .collapse
  > ul
  a,
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg)
  .side-nav
  .side-nav-item:hover
  > .collapsing
  > ul
  a {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 10px 20px; //list items set top padding
  position: relative;
  width: 190px;
  z-index: 6;
}
/* .test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg)
  .side-nav
  .side-nav-item:hover
  > .collapse
  > ul
  a:hover,
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg)
  .side-nav
  .side-nav-item:hover
  > .collapsing
  > ul
  a:hover {
  color: #fff;
} */
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg)
  .side-nav
  .side-nav-item:hover
  > .collapse
  > ul
  li:hover
  > .collapse,
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg)
  .side-nav
  .side-nav-item:hover
  > .collapsing
  > ul
  li:hover
  > .collapse {
  display: block !important;
  height: auto !important;
  -webkit-transition: none !important;
  transition: none !important;
}
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg)
  .side-nav
  .side-nav-item:hover
  > .collapse
  > ul
  li:hover
  > .collapse
  > ul,
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg)
  .side-nav
  .side-nav-item:hover
  > .collapsing
  > ul
  li:hover
  > .collapse
  > ul {
  display: block;
  left: 190px;
  top: 0;
  position: absolute;
  width: 190px;
}
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .logo span.logo-lg {
  display: none;
}
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .logo span.logo-sm {
  display: block;
  line-height: 50px; //set logo line height
  color: #727cf5;
}
@media (max-width: 767.98px) {
  body {
    overflow-x: hidden;
  }
  .leftside-menu {
    -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
    box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
    left: -260px; // display: none;
    z-index: 10 !important;
    transition: all 0.35s;
    -webkit-transition: all 0.35s;
  }
  .sidebar-enable .leftside-menu {
    left: 0px; // display: block;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
  }
  .navbar-nav.navbar-right {
    float: right;
  }
  .content-page {
    margin-left: 0 !important;
  }
  .test_body[data-leftbar-compact-mode="condensed"] .leftside-menu {
    margin-left: 0;
  }
  .logo span.logo-lg {
    display: block;
  }
  .logo span.logo-sm {
    display: none;
  }
}

.test_body[data-leftbar-theme="light"] .help-box {
  background-color: #727cf5;
}
.test_body[data-leftbar-theme="light"] .logo.logo-light {
  display: none;
}
.test_body[data-leftbar-theme="light"] .logo.logo-dark {
  display: block;
}
.test_body[data-layout="topnav"] .content-page {
  margin-left: 0 !important;
  padding: 0 0 60px 0;
}
.test_body[data-layout-mode="boxed"] {
  background-color: #fff;
}
.test_body[data-layout-mode="boxed"] .wrapper {
  max-width: 1300px;
  margin: 0 auto;
  background-color: #fafbfe;
  -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
}
.test_body[data-layout-mode="boxed"][data-leftbar-compact-mode="condensed"] .logo {
  position: relative;
  margin-top: -70px;
}
@media (min-width: 1200px) {
  .test_body[data-leftbar-compact-mode="scrollable"]:not([data-layout="topnav"]) {
    padding-bottom: 0;
  }
  .test_body[data-leftbar-compact-mode="scrollable"]:not([data-layout="topnav"]) .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .test_body[data-leftbar-compact-mode="scrollable"]:not([data-layout="topnav"]) .leftside-menu {
    position: relative;
    min-width: 260px;
    max-width: 260px;
    padding-top: 0;
  }
  .test_body[data-leftbar-compact-mode="scrollable"]:not([data-layout="topnav"]) .logo {
    position: relative;
    margin-top: 0;
  }
  .test_body[data-leftbar-compact-mode="scrollable"]:not([data-layout="topnav"]) .content-page {
    margin-left: 0;
    width: 100%;
    padding-bottom: 60px;
  }
}
.test_body[data-layout="detached"] {
  padding-bottom: 0;
}
@media (min-width: 992px) {
  .test_body[data-layout="detached"] .container-fluid,
  .test_body[data-layout="detached"] .container-lg,
  .test_body[data-layout="detached"] .container-md,
  .test_body[data-layout="detached"] .container-sm,
  .test_body[data-layout="detached"] .container-xl,
  .test_body[data-layout="detached"] .container-xxl {
    max-width: 95%;
  }
}
.test_body[data-layout="detached"][data-layout-mode="boxed"] .wrapper {
  max-width: 100%;
}
.test_body[data-layout="detached"][data-leftbar-compact-mode="scrollable"] .wrapper {
  padding-top: 70px;
}
.test_body[data-layout="detached"] .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: inherit;
}
.test_body[data-layout="detached"] .content-page {
  margin-left: 0;
  overflow: hidden;
  padding: 0 15px 5px 30px;
  position: relative;
  margin-right: -15px;
  width: 100%;
  padding-bottom: 60px;
}
.test_body[data-layout="detached"] .leftside-menu {
  position: relative;
  background: #fff !important;
  min-width: 260px;
  max-width: 260px;
  -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
  margin-top: 30px;
  padding-top: 0 !important;
  z-index: 1001 !important;
}
.test_body[data-layout="detached"] .leftside-menu .side-nav .side-nav-link {
  color: #6c757d !important;
}
.test_body[data-layout="detached"] .leftside-menu .side-nav .side-nav-link:active,
.test_body[data-layout="detached"] .leftside-menu .side-nav .side-nav-link:focus,
.test_body[data-layout="detached"] .leftside-menu .side-nav .side-nav-link:hover {
  color: #727cf5 !important;
}
.test_body[data-layout="detached"] .leftside-menu .side-nav .side-nav-forth-level li a,
.test_body[data-layout="detached"] .leftside-menu .side-nav .side-nav-second-level li a,
.test_body[data-layout="detached"] .leftside-menu .side-nav .side-nav-third-level li a {
  color: #6c757d;
}
.test_body[data-layout="detached"] .leftside-menu .side-nav .side-nav-forth-level li a:focus,
.test_body[data-layout="detached"] .leftside-menu .side-nav .side-nav-forth-level li a:hover,
.test_body[data-layout="detached"] .leftside-menu .side-nav .side-nav-second-level li a:focus,
.test_body[data-layout="detached"] .leftside-menu .side-nav .side-nav-second-level li a:hover,
.test_body[data-layout="detached"] .leftside-menu .side-nav .side-nav-third-level li a:focus,
.test_body[data-layout="detached"] .leftside-menu .side-nav .side-nav-third-level li a:hover {
  color: #727cf5;
}
.test_body[data-layout="detached"] .leftside-menu .side-nav .side-nav-forth-level li.mm-active > a,
.test_body[data-layout="detached"] .leftside-menu .side-nav .side-nav-second-level li.mm-active > a,
.test_body[data-layout="detached"] .leftside-menu .side-nav .side-nav-third-level li.mm-active > a {
  color: #727cf5;
}
.test_body[data-layout="detached"] .leftside-menu .side-nav .menuitem-active > a {
  color: #727cf5 !important;
}
.test_body[data-layout="detached"] .leftside-menu .side-nav .side-nav-title {
  color: #6c757d;
}

@media (max-width: 767.98px) {
  .test_body[data-layout="detached"].sidebar-enable .leftside-menu {
    position: fixed;
    left: 0;
    overflow-y: auto;
    margin-top: 0;
  }
  .test_body[data-layout="detached"] .wrapper {
    max-width: 100%;
  }
  .test_body[data-layout="detached"] .content-page {
    margin-left: 0 !important;
    padding: 0 10px 60px 10px;
  }
  .test_body[data-layout="detached"] .lang-switch {
    display: none;
  }
}
.button-menu-mobile .lines {
  width: 18px;
  display: block;
  position: relative;
  height: 16px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 26px;
  margin-left: 10px;
}
.button-menu-mobile span {
  height: 2px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
  margin-bottom: 5px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition:
    transform 0.5s ease,
    -webkit-transform 0.5s ease;
}
.button-menu-mobile span:nth-of-type(2) {
  width: 24px;
}
.button-menu-mobile.disable-btn {
  display: none;
}
.test_body[data-leftbar-theme="light"] .leftside-menu {
  background: #fff;
}
.test_body[data-leftbar-theme="light"] .leftside-menu .logo {
  background: #fff !important;
}
.test_body[data-leftbar-theme="light"] .side-nav .side-nav-link {
  color: #6c757d;
}
.test_body[data-leftbar-theme="light"] .side-nav .side-nav-link:active,
.test_body[data-leftbar-theme="light"] .side-nav .side-nav-link:focus,
.test_body[data-leftbar-theme="light"] .side-nav .side-nav-link:hover {
  color: #727cf5;
}
.test_body[data-leftbar-theme="light"] .side-nav .menuitem-active > a {
  color: #727cf5 !important;
}
.test_body[data-leftbar-theme="light"] .side-nav .side-nav-title {
  color: #6c757d;
}
.test_body[data-leftbar-theme="light"] .side-nav .side-nav-forth-level li a,
.test_body[data-leftbar-theme="light"] .side-nav .side-nav-second-level li a,
.test_body[data-leftbar-theme="light"] .side-nav .side-nav-third-level li a {
  color: #6c757d;
}
.test_body[data-leftbar-theme="light"] .side-nav .side-nav-forth-level li a:focus,
.test_body[data-leftbar-theme="light"] .side-nav .side-nav-forth-level li a:hover,
.test_body[data-leftbar-theme="light"] .side-nav .side-nav-second-level li a:focus,
.test_body[data-leftbar-theme="light"] .side-nav .side-nav-second-level li a:hover,
.test_body[data-leftbar-theme="light"] .side-nav .side-nav-third-level li a:focus,
.test_body[data-leftbar-theme="light"] .side-nav .side-nav-third-level li a:hover {
  color: #727cf5;
}
.test_body[data-leftbar-theme="light"] .side-nav .side-nav-forth-level li.active > a,
.test_body[data-leftbar-theme="light"] .side-nav .side-nav-second-level li.active > a,
.test_body[data-leftbar-theme="light"] .side-nav .side-nav-third-level li.active > a {
  color: #727cf5;
}

.side-nav .side-nav-item .side-nav-link:active,
.side-nav .side-nav-item .side-nav-link:focus,
.side-nav .side-nav-item .side-nav-link:hover {
  color: #fff;
}

.side-nav .side-nav-item:hover .side-nav-link:not(.active) {
  /* background: #fff; */
  color: $navbar_left_text !important;
  -webkit-transition: none;
  transition: none;
}

.side-nav .side-nav-item:hover > ul {
  background: #fff;
  -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
}

.side-nav .side-nav-item:hover > ul a:hover {
  color: #727cf5;
}
.test_body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) {
  .side-nav .side-nav-item:hover > .collapse > ul,
  .side-nav .side-nav-item:hover > .collapsing > ul {
    //background: $navbar_left_bg; //background color change
    @include navbar_gradient_bg;
  }
}

.side-nav .side-nav-item:hover > .collapse > ul a:hover,
.side-nav .side-nav-item:hover > .collapsing > ul a:hover:not(.active) {
  color: $navbar_left_text;
}
.leftside-menu {
  @include navbar_gradient_bg;
}
.leftside-menu .logo {
  background: #1760D6 !important;
}

.side-nav .side-nav-link {
  color: $navbar_left_text;
}
.side-nav .side-nav-link:active,
.side-nav .side-nav-link:focus,
.side-nav .side-nav-link:hover {
  color: $navbar_left_text;
  background-color: $navbar_left_item_hover_bg;
  //font-weight: 600;
}
.side-nav .menuitem-active > a {
  color: #fff !important;
}
.side-nav .side-nav-title {
  color: #8391a2;
}
/* .side-nav .side-nav-forth-level li a,
.side-nav .side-nav-second-level li a,
.side-nav .side-nav-third-level li a {
  color: #8391a2;
} */
/* .side-nav .side-nav-forth-level li a:focus,
.side-nav .side-nav-forth-level li a:hover,
.side-nav .side-nav-second-level li a:focus,
.side-nav .side-nav-second-level li a:hover,
.side-nav .side-nav-third-level li a:focus,
.side-nav .side-nav-third-level li a:hover {
  color: #bccee4;
}
.side-nav .side-nav-forth-level li.active > a,
.side-nav .side-nav-second-level li.active > a,
.side-nav .side-nav-third-level li.active > a {
  color: #fff;
} */

.side-nav .side-nav-item .side-nav-link:active,
.side-nav .side-nav-item .side-nav-link:focus,
.side-nav .side-nav-item .side-nav-link:hover {
  color: $navbar_left_text;
}
/* 
  .side-nav
  .side-nav-item:hover
  .side-nav-link {
  background: #727cf5;
  color: #fff !important;
  -webkit-transition: none;
  transition: none;
} */

.side-nav .side-nav-item:hover > ul {
  background: #313a46;
  -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
}
/* 
  .side-nav
  .side-nav-item:hover
  > ul
  a:hover {
  color: #41b983;
} */

/* .side-nav
  .side-nav-item:hover
  > .collapse
  > ul,

  .side-nav
  .side-nav-item:hover
  > .collapsing
  > ul {
  background: #313a46;
} */
.navbar-custom {
  padding: 0 24px;
  background-color: $navbar_top_bg; //navbar bg-color change willgig portal side
  /* -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15); */
  min-height: 48px; //set navbar height
  position: fixed;
  left: 216px; //navbar button align in left side
  top: 0;
  right: 0;
  z-index: 1001;
}
.navbar-custom .topbar-left {
  background-color: #fff;
  height: 70px;
  position: fixed;
  z-index: 1;
  width: 260px;
  text-align: center;
  top: 0;
  left: 0;
}
.navbar-custom .topbar-left .logo {
  line-height: 70px;
}
.navbar-custom .topbar-left .logo i {
  display: none;
}
.navbar-custom .topbar-menu {
  position: relative;
  z-index: 1;
}
.navbar-custom .topbar-menu li {
  float: left;
  max-height: 70px;
}
.navbar-custom .topbar-menu li .show.nav-link {
  color: #6c757d;
}
.navbar-custom .topbar-menu .nav-link {
  padding: 0;
  color: #98a6ad;
  min-width: 32px;
  display: block;
  text-align: center;
  margin: 0 10px;
  position: relative;
}

.button-menu-mobile {
  border: none;
  color: #313a46;
  height: 40px;
  line-height: 40px;
  width: 60px;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  float: left;
  z-index: 1;
  position: relative;
  margin-left: -24px;
}
.button-menu-mobile.disable-btn {
  display: none;
}
@media (max-width: 767.98px) {
  .button-menu-mobile {
    margin: 0 !important;
  }
}
[data-keep-enlarged="true"] .navbar-custom {
  padding-left: 0;
}
[data-keep-enlarged="true"] .button-menu-mobile {
  margin: 0;
}
[data-keep-enlarged="true"] .button-menu-mobile.disable-btn {
  display: inline-block;
}
@media (max-width: 600px) {
  .navbar-custom .topbar-menu {
    position: initial;
  }
  .navbar-custom .dropdown {
    position: static;
  }
  .navbar-custom .dropdown .dropdown-menu {
    left: 10px !important;
    right: 10px !important;
  }
}
@media (max-width: 1200px) {
  .navbar-custom {
    right: 0;
  }
  .navbar-custom .app-search {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .nav-user {
    padding: 17px 5px 17px 57px !important;
  }
  .nav-user .account-position,
  .nav-user .account-user-name {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .navbar-custom {
    left: 0 !important;
    padding: 0;
    padding-right: 10px;
  }
  .button-menu-mobile.disable-btn {
    display: inline-block;
  }
}
@media (max-width: 375px) {
  .navbar-custom .topbar-menu .nav-link {
    margin: 0 6px;
  }
  .navbar-custom.topnav-navbar .container-fluid,
  .navbar-custom.topnav-navbar .container-lg,
  .navbar-custom.topnav-navbar .container-md,
  .navbar-custom.topnav-navbar .container-sm,
  .navbar-custom.topnav-navbar .container-xl,
  .navbar-custom.topnav-navbar .container-xxl {
    padding-right: 12px;
    padding-left: 12px;
  }
  .navbar-custom.topnav-navbar .navbar-toggle {
    margin: 27px 3px;
  }
  .navbar-custom.topnav-navbar .button-menu-mobile {
    width: auto;
  }
}
@media (min-width: 992px) {
  .test_body[data-leftbar-compact-mode="scrollable"]:not([data-layout="topnav"]) .navbar-custom {
    position: absolute;
  }
}

[data-simplebar] {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}
.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}
.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}
.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  width: auto;
  overflow: auto;
  max-width: 100%;
  max-height: 100%;
  scrollbar-width: none;
}
.simplebar-content-wrapper::-webkit-scrollbar {
  display: none;
}
.simplebar-content:after,
.simplebar-content:before {
  content: " ";
  display: table;
}
.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}
.simplebar-height-auto-observer-wrapper {
  -webkit-box-sizing: inherit !important;
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -webkit-box-flex: inherit;
  -ms-flex-positive: inherit;
  flex-grow: inherit;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}
.simplebar-height-auto-observer {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}
.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}
[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.simplebar-scrollbar {
  position: absolute;
  right: 2px;
  width: 5px;
  min-height: 10px;
}
.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: #a2adb7;
  border-radius: 7px;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.5;
  -webkit-transition: opacity 0s linear;
  transition: opacity 0s linear;
}
.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}
.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}
.simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}
.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}
[data-simplebar-lg] .simplebar-scrollbar {
  right: 1px;
  width: 10px;
}
[data-simplebar-primary] .simplebar-scrollbar:before {
  background: #727cf5;
}
