<div
  class="modal fade oee_dialog"
  id="forget-password-modal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Forget Password</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="hideModal()"
        ></button>
      </div>
      <div class="form-layout-input m-0 mw-100">
        <form #forgetPassForm="ngForm">
            <div class="form-outer border-0">
              <div class="form-fieldset">
                <div class="row">
                  <ng-container *ngIf="!isOtpGenerated; else showInputPassword">
                    <div class="col-12 col-md-12 col-lg-12 col-sm-12">
                      <label>OTP will be send on your register E-Mail address to verify user.</label>
                    </div>
                  </ng-container>
                  <ng-template #showInputPassword>
                    <div class="col-12 col-md-12 col-lg-12 col-sm-12">
                      <label>OTP has been send on your register E-Mail address. Please enter OTP</label>
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 col-sm-12">
                      <app-text
                        [label]="'User Name'"
                        [(value)]="user.UserName"
                        [disabled]="true"
                      ></app-text>
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 col-sm-12">
                      <app-text
                        [label]="'OTP'"
                        [(value)]="forgetPassReq.otp"
                        [required]="true"
                      ></app-text>
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 col-sm-12">
                      <app-password
                        [label]="'New Password'"
                        [(value)]="forgetPassReq.newPassword"
                        [required]="true"
                      ></app-password>
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 col-sm-12">
                      <app-password
                        [label]="'Confirm Password'"
                        [(value)]="forgetPassReq.confirmPassword"
                        [required]="true"
                      ></app-password>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
        </form>
      </div>
      <div class="modal-footer p-2 justify-content-center">
        <div class="form-header-inner">
          <div class="right">
            <div class="two-button">
              <button
                class="btn is-cancel-light is-light"
                (click)="hideModal()"
              >
                Cancel
              </button>
              <button
                class="btn is-primary-btn is-primary"
                (click)="onSubmitClick()"
                [disabled]="forgetPassForm.invalid"
              >
                {{isOtpGenerated?'Submit':'Send OTP'}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
