<div class="field">
  <label
    >{{ label }}
    @if (required) {
      <span class="text-danger text-bold"> * </span>
    }
  </label>
  <div class="input-control">
    <input
      [type]="isPwdShow ? 'text' : 'password'"
      class="input"
      name="{{ uniqueId }}"
      [(ngModel)]="value"
      #pwd="ngModel"
      [required]="required"
      [disabled]="disabled"
      (ngModelChange)="valueChange.emit(value)"
    />
    @if (!disabled) {
      <div
        class="form-icon-right"
        (click)="isPwdShow = !isPwdShow"
        style="cursor: pointer"
      >
        <i
          [class]="
            isPwdShow === true ? 'mdi mdi-eye-outline' : 'mdi mdi-eye-off-outline'
          "
        ></i>
      </div>
    }
    @if (pwd.invalid && (pwd.dirty || pwd.touched)) {
      <div class="error-msg-text">
        @if (pwd.hasError("required")) {
          <span> This field is required.</span>
        }
      </div>
    }
  </div>
</div>
